@import url('../../node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.min.css');

html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.legalMove {
  -webkit-box-shadow: inset 0 0 3px 3px #7aff00;
  box-shadow: inset 0 0 3px 3px #7aff00;
}

.message {
  text-align: center;
  margin: 8px;
  font-size: 22px;
  color: white;
  font-style: italic;
}
